{% extends 'base.html.twig' %}

{% block title %}{{ 'Show Topic' | trans }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{{ include('consultation/_form.html.twig',{
				'saveButton': saveButton,
				'new': new
			}) }}
		</div>
	</div>
{% endblock %}