{% for msg in app.session.flashBag.get('success') %}
	<div class="alert alert-success">
		{{ msg | trans({}, 'messages') }}
	</div>
{% endfor %}
{% for msg in app.session.flashBag.get('error') %}
	<div class="alert alert-danger">
		{% if message is defined %}
			{{ msg | trans({'%message%' : message},"messages", app.request.locale) }}
		{% else %}
			{{ msg | trans({}, 'messages') }}
		{% endif %}
	</div>
{% endfor %}
{% for msg in app.session.flashBag.get('warning') %}
	<div class="alert alert-warning">
		{{ msg | trans({}, 'messages') | capitalize }}
	</div>
{% endfor %}
