{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Topic' | trans }}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{{ include('topic/_form.html.twig',{
				'saveButton': saveButton 
			}) }}
		</div>
	</div>
{% endblock %}